html {
  font-size: 14px; /* px means "pixels": the base font size is now 10 pixels high  */
  /*font-family: 'Oswald', sans-serif;*/
  font-family: 'Ubuntu', sans-serif;
  /*background-color: #9D7752;*/
}

body {
  margin: 0;
  margin-top: 50px;
}

header{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 8vh;
  line-height: 50px;
  background-color: #eee;
  box-shadow: 0 0 25px 0 black;
}

header * {
  display: inline;
  height: 8vh;
}

@media (orientation: portrait) {
  header{
    height: 15vh;
  }
  header * {
    /*flex-direction: column;*/
    height: 15vh;
    font-size: large;
  }
}

header ul{
  padding: 0;
}

header li{
  margin-left: 20px;
}

header a{
  text-decoration: none;
  color: black;
}

section{
  height: 100vh;
  /*border: 1px solid black;*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#hero .profile-pic{
  width: 300px;
  border-radius: 50%;
}

footer {
  text-align: center;
  padding: 50px;
}

#hero h1 {
  font-size: 3em;
}

section h2 {
  font-size: 2.5em;
  color: #28539e;
}

section h3 {
  font-size: 1.5em;
  text-align:left;
  color: cornflowerblue;
}

section h4 {
  font-size: 1.2em;
}

#hero {
  background-image: linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0.2)), url('../images/hero_background.jpg');
}

#experiences {
  background-color: #F3EFE0;
  /*background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('https://codetheweb.blog/assets/img/posts/steps-to-creating-a-website/beach.jpg');*/
  height: fit-content;
}

@media (orientation: portrait){
  #experiences {
    height: 100vh;
  }
}

#contact {
    background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url('../images/contact.jpg');
}

.experience {
  width: 60vw;
  margin-bottom: 20px;
  display: flex;
}

.row{
  margin-right: -15px;
  margin-left: -15px;
}


.col-mst-1{
  /*width: 33.333333333%;*/
  width: 30%;
}

.col-mst-2{
  /*width: 66.666666667%;*/
  width: 70%;
}


.col-mst-1, .col-mst-2{
  text-align: left;
  float: left;
  /*position: relative;*/
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

#experiences .experience p > strong {
    display: block;
    padding-top: 7px;
    margin-bottom: 10px;
    font-size: 1.3em;
}


.skills-row{
  width: 46vw;
}


#abilities ul > li .ability-title {
    display: inline-block;
    /*width: 60%;*/
}

#abilities ul > li .ability-score {
    float: right;
}

.stars1, .stars2 {
  width: 44%;
  float: left;
  padding-right: 15px;
  padding-left: 15px;
}

ul.stars {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    text-align: left;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}


ul.contact-list{
  list-style-type: none;
}

.contact-el{
  display: flex;
  align-items: center;
  justify-content: flex-end;
    margin-right: 30%;
}

.contact-text{
  vertical-align: middle;
  margin-right: 10px;
}


/* Style all font awesome icons */
/*.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}*/

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-instagram {
  background: #ff5700;
  color: white;
}
